.container{
  border-top: 2px solid gold;
  padding: 10% 10%;
}
.jumbotron{
background-image: url("https://res.cloudinary.com/hamolyva9/image/upload/v1628197794/478DC70E-B5A9-46F4-8D8C-D8E9C28F5E24_jobqbj.jpg");
background-repeat:no-repeat;
background-size: cover;
background-position:center;
width: 100%;
}
.word-intro{
  margin-top: -20%;
}
.nav-link{
  font-family: 'charm',cursive;
}
.cont-info-img{
margin: -25% -40%;
}

.card{
  width:100%;
  height: 400px;
}
.card-img-top{
  height:400px;
  width: 100%;
}

.pro{
  background-color: gold;
  color: black;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
  color: gold;
  font-family:'Rampart One',cursive;
}

h3{
  font-family:'lato', sans-serif;
}
.banner{
  width: 100%;
}
